.counterWrapper {
    padding: 10px;
    border: #4594ff 2px solid;
    border-radius: 5%;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    border: #4594ff 2px solid;
    border-radius: 10%;
    padding: 10px;
    vertical-align: center;
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display {
    width: 200px;
    padding: 30px;
    text-align: center;
    background-color: #5fccff;
    border-radius: 5%;
    line-height: 35px;
}