.App {
  text-align: center;
}

.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.screen {
  margin: 10px;
}
